.about-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 2rem;
    background-color:rgba(9, 7, 5, 0.942);
    color:rgba(255, 0, 0, 0.968);
}

.about{
    margin-right: 30%;
    margin-top: 10%;
    font-size: 2rem;
    
}



.womenempowerment{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    z-index: 1;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  
  .womenempowerment {
    width: 100%;
    max-width: 700px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: all 1s ease-in-out;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: rgb(222, 30, 30);
    border: none;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
  }
  
  .left-arrow {
    left: 20px;
  }
  
  .right-arrow {
    right: 20px;
  }
  