.about-section{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 2rem;
    background-color:rgba(9, 7, 5, 0.942);
    color:rgba(255, 0, 0, 0.968);    grid-template-columns: 1fr 1fr;
    
}

.about-section{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 2rem;
    background-color:rgba(9, 7, 5, 0.942);
    color:rgba(255, 0, 0, 0.968);    
}

.about, .mission, .vision{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    /* background-color:rgba(9, 7, 5, 0.942); */
    /* border-radius: 2rem; */
    color:rgba(255, 0, 0, 0.968); 
    line-height: 2rem; 
    margin-right: 25%;
    font-size: larger;
    font-weight: bold;
    box-shadow: 0 10px 8px rgba(197, 40, 40, 0.1);

    
}

.about-header{
  width: 50%;
}

.about-text, .mission-text, .vision-text{
    width: 90vh;
    padding: 1rem;
    color: rgb(240, 232, 232);
    font-weight: bolder;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    text-align: justify;
    line-height: 1.5;
    border-radius: 10px;
    }

    .mission-text, .vision-text{
      font-size: larger;
    }
  
.womenempowerment{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    z-index: 1;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

  }

  
  .womenempowerment {
    width: 100%;
    max-width: 700px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    margin-bottom: 5rem;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: rgb(222, 30, 30);
    border: none;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
  }
  
  .left-arrow {
    left: 20px;
  }
  
  .right-arrow {
    right: 20px;
  }
  .knowus{
    color: rgb(222, 30, 30);
    cursor: pointer;
    padding: 2rem;
    margin-right: 10rem;
  }

  .knowus:hover{
    color: whitesmoke;
    font-size: large;
  
  }

  @media only screen and (max-width: 1024px){

    .about-header{
      width: auto;
    }

    .about-text, .mission-text, .vision-text{
      width: 90%;
      padding: 0.5rem;
    }

    .womenempowerment{
    display:none;
    }

    .carousel{display:none}

    .knowus{
      margin-left: 18%;
    }

  }