hero-section{
   width: 100%;
    height: 100vh;
    overflow: hidden;
   
   
}

.hero-image {
    width: 100%;
    height: 70vh;
    object-fit: cover; /* VERY important: makes sure the image covers nicely */
    z-index: 1;

  }

  .hero-text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;

    z-index: 2; /* Make sure the text is above the image */
  }

  .whatwedo{
   color:  rgba(255, 0, 0, 0.8);
    font-size: 2rem;
     
 }

 .summary1,.summary2,.summary3{
  color: rgb(211, 205, 205);
  font-weight: bolder;
  margin: 1rem 0;
  font-size: 1.1rem;
 }
 

  @media only screen and (max-width: 1024px){
    .hero-image {
      height: 50vh;
    }

    .hero-text {
      left: 80%;
      width: 30%;
      top: 40%;
          }
  .whatwedo{
    font-size: 1.5rem;
    margin-top: 0.2rem;
      }
      .summary1,.summary2,.summary3{
        font-size: 1rem;
        width: 100%;   
        margin: 0.5rem 0;
        text-align: center;
      }
        .btn.neon-pulse {
          padding: 0.8rem 1.5rem;
          font-size: 0.9rem;
          min-width: 2rem;
          margin-bottom: 2rem;
        }    
      }
  






.btn {
position: relative;
padding: 1.5rem 3rem;
font-size: 1.1rem;
font-weight: 600;
color: #fff;
background: none;
border: none;
cursor: pointer;
overflow: hidden;
transition: all 0.4s ease;
min-width: 200px;
z-index: 1;
margin-top: 2rem;
}

.neon-pulse {
background: #000;
border: 2px solid rgb(255, 4, 0);
box-shadow: 0 0 10px rgba(188, 91, 76, 0.44);
overflow: visible;
}

.neon-pulse::before,
.neon-pulse::after {
content: "";
position: absolute;
inset: -4px;
border: 2px solid rgb(149, 62, 50);
border-radius: inherit;
animation: pulseOut 2s ease-out infinite;
opacity: 0;
}

.neon-pulse::after {
animation-delay: 1s;
}

@keyframes pulseOut {
0% {
  transform: scale(1);
  opacity: 1;
}
100% {
  transform: scale(1.5);
  opacity: 0;
}
}
