*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

:root{
    --mainClor:red;
    --mainColorLight:blue;
    --secondaryColor:green;
    --textColor:#eeee;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:80px;
    padding:0 2rem;
    background-color:var(--mainClor);
    color:var(--textColor);
}

nav a{
    margin: 0 2rem;
    text-decoration:none;
    color:var(--textColor);
}

nav a:hover{
    color:var(--secondaryColor);
}

header .nav-btn{
   padding: 5px;
   cursor: pointer;
   background-color:transparent;
   border:none;  
   outline: none;
    color:var(--textColor);
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 1024px){
    
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        background-color: var(--mainClor);
        transition: 1s;
        transform: translateY(-100vh);
    }
    header nav.active{
        transform: none;
    }
}