.holographic-container {
  display: grid;
  align-items: center;
  height: 50vh;
  background: rgba(9, 7, 5, 0.942);
  margin-top: 0.3rem;
    padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  gap: 0.5em; /* spacing between cards */
  justify-items: center; /* center each card */
  
}

.holographic-card {
  width: 90%;
  height: 90%;
  background: #111;
  display: flex;
  flex-direction: column; /* stack text vertically */
  justify-content: center;
  align-items: center;
  gap: 1rem; /* space between items */
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.holographic-text {
  color: white;
  font-size: 1.1rem;
  position: relative;
  z-index: 2;
  /* text-transform: lowercase; */
  letter-spacing: 2px;
}

.holographic-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(37, 32, 27, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(81, 75, 73, 0.5);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.holographic-section{
    background: black;
    padding: 5rem 0;
}

  @media only screen and (max-width: 1024px){
    .holographic-container {
      grid-template-columns: repeat(1, 1fr); /* 1 card per row on smaller screens */
        padding: 2rem;
        height: auto;
      }
        .holographic-card {
            width: 90%;
            height: auto;
            padding: 2rem 0;
        }
        .holographic-text {
            font-size: 1rem;
    
        }
    }
  
