.what-we-do-section {
    height: 40vh;
    background-color:rgba(9, 7, 5, 0.942);
}

.container{
    text-align: center;
    padding: 2rem;
    color:#9c0606f7;
    font-size: larger;
    font-weight: bold;
    box-shadow: 0 10px 8px rgba(197, 40, 40, 0.1);
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background:rgb(222, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #111;
}


.checkmark {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgb(222, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #111;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2px;
    /* background: #0ff;   cyan glow */
    margin-top: 0rem;
    height: 20vh;
    /* background-color: #0f0; */
    gap: 13rem;
}

.people-group {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgb(222, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #111;
}

.icon-labels {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  color: white;
    font-weight: bold;
    font-size: 1rem;
    gap: 4rem;
    justify-content: center;
}

.icon-label1, .icon-label3, .icon-label2 {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    
    /* margin-right: 13rem; */
    /* padding: 1rem; */
}

.icon-label1{
    font-size: 1.2rem;
    /* margin-left: 10rem; */
    margin-right: 1rem;
    /* margin-bottom: 1rem; */
    margin-bottom: 4rem;
}

.icon-label2{
    font-size: 1.2rem;
    margin-bottom: 4rem;
    margin-right: 2rem;

}

.icon-label3{
    font-size: 1.2rem;
    margin-left: 2%;
    margin-bottom: 4rem;

}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color:rgba(255, 0, 0, 0.968); 
    line-height: 2rem; 
    font-size: bold;
    font-weight: bold;
    /* margin-top: 1rem; */
    margin-right:7rem;
}

.second{
    margin-right: 1rem;
    color:rgba(255, 0, 0, 0.968) ;
     display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 0.5rem;
 line-height: 2rem; 
 font-size: bold;
 font-weight: bold;
}

.third{
    margin-right:0.2rem;
     display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 0.5rem;
 color:rgba(255, 0, 0, 0.968); 
 line-height: 2rem; 
 font-size: bold;
 font-weight: bold;
}


  @media only screen and (max-width: 1024px){
    .icon-label1, .icon-label2, .icon-label3{}
    .icon-labels{display: none;

    }
    .icon-container{
        width:90%;
        margin-left: 5rem;
    }
    .people-group{
        display: none;
    }
    .checkmark{
        display: none;
    }
    .circle{display:none;}

    .what-we-do-section{
        height:2vh;
    }
  }
